<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/crear.css}">
    <link rel="shortcut icon" th:href="@{/assets/logo.svg}" type="image/x-icon">
    <title>Document</title>
</head>
<body>
<div th:insert="~{administrador/template_admin.html::header}"></div>

    <main class="main container">
        <section class="formularios section">

            <h1 class="formularios__titulo">Crear producto</h1>

            <form th:action="@{/producto/save}"  method="post" class="formularios__form" enctype="multipart/form-data">

                <div class="formularios__general">

                    <h2 class="formularios__title">Datos generales del producto</h2>

                    <div class="Info__general">

                        <input type="hidden" name="id" id="id">

                        <div class="formularios__item">
                            <label for="categoria" class="formularios__label">Categoria</label>
                            <select id="categoria" name="categoria" class="formularios__input">
                                <option value="x" selected="selected">...</option>
                                <option value="procesador">Procesador</option>
                                <option value="ram">Ram</option>
                                <option value="ssd">SSD</option>
                                <option value="hhd">HHD</option>
                                <option value="tmadre">Tarjeta madre</option>
                                <option value="tgrafica">Tarjeta grafica</option>
                                <option value="disipador">Disipador</option>
                                <option value="fpoder">Fuente de poder</option>
                                <option value="case">Case</option>
                                </select>
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label"  >Marca</label>
                            <input class="formularios__input" type="text" name="marca">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label"  >Modelo</label>
                            <input class="formularios__input" type="text" name="modelo">
                        </div>
    
        
                        <div class="formularios__item">
                            <label class="formularios__label" >Precio</label>
                            <input class="formularios__input" type="number" name="precio" step="0.01">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >Stock</label>
                            <input class="formularios__input" type="number" name="stock" value="">
                        </div>
        
                        <div class="formularios__item">
                            <label class="formularios__label">IMG</label>
                            <input class="formularios__input" type="file" id="image" name="image">
                        </div>
                    </div>

                </div>

                <div class="formularios__detalle">
                    <h2 class="formularios__title">Datos detallados del producto</h2>

                    <div class="formularios__detalleContainer">
                        
                        <input type="hidden" name="txtIDDetalle" id="txtIDDetalle">
    
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c1" >
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c2">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c3">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c4">
                        </div>

                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c5">
                        </div>
        
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c6">
                        </div>

                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c7">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c8">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c9">
                        </div>

                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c10">
                        </div>
        
                        <div class="formularios__item">
                            <label class="formularios__label" >------------------</label>
                            <input class="formularios__input" type="text" name="c11">
                        </div>

                    </div>
                </div>

                <div class="formularios__buttons">
                    <button class="formularios__btn formularios__btnA" type="submit">Crear</button>
                    <button class="formularios__btn formularios__btnL" type="reset">Limpiar</button>
                </div>
            </form>

        </section>

    
    </main>

<div th:insert="~{administrador/template_admin.html::footer}"></div>

<script th:src="@{/js/crear.js}"></script>
</body>
</html>