<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/crear.css}">
    <link rel="shortcut icon" th:href="@{/assets/logo.svg}" type="image/x-icon">
    <title>Document</title>
</head>
<body>
<div th:insert="~{administrador/template_admin.html::header}"></div>

    <main class="main container">
        <section class="formularios section">

            <h1 class="formularios__titulo">Modificar producto</h1>

            <form th:action="@{/producto/update}"  method="post" class="formularios__form" enctype="multipart/form-data">

                <div class="formularios__general">

                    <h2 class="formularios__title">Datos generales del producto</h2>

                    <div class="Info__general">

                        <input type="hidden" name="id" id="txtID" th:value="${p.id}">

                        <div class="formularios__item">
                            <label for="categoria" class="formularios__label">Categoria</label>
                            <input id="categoria" name="categoria" class="formularios__input" th:value="${categoria}" readonly>
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label"  >Marca</label>
                            <input class="formularios__input" type="text" name="marca" th:value="${p.marca}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label"  >Modelo</label>
                            <input class="formularios__input" type="text" name="modelo" th:value="${p.modelo}">
                        </div>
    
        
                        <div class="formularios__item">
                            <label class="formularios__label" >Precio</label>
                            <input class="formularios__input" type="number" name="precio" step="0.01" th:value="${p.precio}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" >Stock</label>
                            <input class="formularios__input" type="number" name="stock"th:value="${p.stock}">
                        </div>
        
                        <div class="formularios__item">
                            <label class="formularios__label">IMG</label>
                            <input class="formularios__input" type="file" name="image" th:value="${p.img}">
                        </div>
                    </div>

                </div>

                <div class="formularios__detalle">
                    <h2 class="formularios__title">Datos detallados del producto</h2>

                    <div class="formularios__detalleContainer">
                        
                        <input type="hidden" name="idDetalleProducto"  th:value="${dp.idDetalleProducto}">
    
                        <div class="formularios__item">
                            <label class="formularios__label"  th:text="${ad.get(0)}"></label>
                            <input class="formularios__input" type="text" name="c1"   th:value="${dp.c1}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(1)}"></label>
                            <input class="formularios__input" type="text" name="c2" th:value="${dp.c2}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(2)}"></label>
                            <input class="formularios__input" type="text" name="c3" th:value="${dp.c3}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(3)}"></label>
                            <input class="formularios__input" type="text" name="c4" th:value="${dp.c4}">
                        </div>

                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(4)}"></label>
                            <input class="formularios__input" type="text" name="c5" th:value="${dp.c5}">
                        </div>
        
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(5)}"></label>
                            <input class="formularios__input" type="text" name="c6" th:value="${dp.c6}">
                        </div>

                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(6)}"></label>
                            <input class="formularios__input" type="text" name="c7" th:value="${dp.c7}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(7)}"></label>
                            <input class="formularios__input" type="text" name="c8" th:value="${dp.c8}">
                        </div>
    
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(8)}"></label>
                            <input class="formularios__input" type="text" name="c9" th:value="${dp.c9}">
                        </div>

                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(9)}"></label>
                            <input class="formularios__input" type="text" name="c10" th:value="${dp.c10}">
                        </div>
        
                        <div class="formularios__item">
                            <label class="formularios__label" th:text="${ad.get(10)}"></label>
                            <input class="formularios__input" type="text" name="c11" th:value="${dp.c11}">
                        </div>

                    </div>
                </div>

                <div class="formularios__buttons">
                    <button class="formularios__btn formularios__btnA" type="submit">Guardar cambios</button>
                    <button class="formularios__btn formularios__btnL" type="reset">Limpiar</button>
                </div>
            </form>

        </section>

    
    </main>

<div th:insert="~{administrador/template_admin.html::footer}"></div>
</body>
</html>